services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - staticfiles_volume:/app/staticfiles


volumes:
  staticfiles_volume:

networks:
  default:
    name: openai-mock-network